/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*, *::before, * ::after {
    box-sizing: inherit;
    /* border:1px solid red; */
}
html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Inter', sans-serif;
    width: 100%;
    overflow-y: overlay;
    }
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--font-color);
    font-size: 12px;
    font-weight: 500;
}
/* CSS VARIABLES */
:root {
    --background: #1F2937;
    --font-color: #D5D4D8;
}
header,
footer,
button,
#color-values-container {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    background-color: var(--background);
    color: var(--font-color);
    font-size: 1.5rem;
    text-shadow: 1px 1px 20px rgb(17, 17, 17);
    background-color: #36404d;
    padding: 0.1em;
    user-select: none;
    border-bottom: 1px solid #7f858f;
}
#color-title {
    font-weight: 900;
    letter-spacing: -2px;
}
#letter-one{
    color: #D95FEA;
}
#letter-two {
    color: #EB63D3;
}
#letter-three {
    color: #ED67AC;
}
#letter-four {
    color: #EE6A87;
}
#letter-five {
    color: #F0786E;
}
#title {
    display: flex;
    justify-content: center;
    gap: 0.4em;
    font-size: 3rem;
    padding-top: 0.4em;
}
#subtitle {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    text-align: center;
    color: var(--font-color);
    letter-spacing: 1.1px;
}
/* -----------------------------------------------------------
    ALL APP CONTAINER 
--------------------------------------------------------------*/
#container {
    width: 80vw;
    max-width: 770px;
    margin: auto;
}
/* -----------------------------------------------------------
    COLOR PICKER SECTION 
--------------------------------------------------------------*/
#color-picker-container {
    width: 80vw;
    max-width: 770px;
    height: auto;
    position: absolute;
    padding: 2em 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
/* ERASING DEFAULT BORDER OF INPUT TYPE COLOR */
#color-input {
    width: 66px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#color-input:hover {
    border-radius: 6px;
    background-color: #3D4B60;
}
#color-scheme select {
    width: 300px;
    height: 42px;
    padding: 9px 13px;
    border-radius: 6px;
    border: 1px solid var(--font-color);
    background: #1F293A;
    color: var(--font-color);
    font-size: 16px;
    font-weight: 400;
    /* SELECT ICON */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(Selector.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    outline-color: var(--background);
}
button {
    width: 123px;
    height: 42px;
    border-radius: 4px;
    border: none;
    background: #3D4B60;
    color: var(--font-color);
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    border: 1px solid var(--font-color);
}
/* -----------------------------------------------------------
    COLOR RECTANGLES
--------------------------------------------------------------*/
#color-rectangle-container {
    display: flex;
    max-width: 770px;
}
.rectangle {
    width: 20vw;
    height: 550px;
}
#rectangle-one{
    background-color: #D95FEA;
}
#rectangle-two{
    background-color: #EB63D3;
}
#rectangle-three{
    background-color: #ED67AC;
}
#rectangle-four{
    background-color: #EE6A87;
}
#rectangle-five{
    background-color: #F0786E;
}

/* -----------------------------------------------------------
    COLOR VALUES SECTION
--------------------------------------------------------------*/
#color-values-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    max-width: 770px;
    height: 46px;
    position: relative;
    top: 98px;
}
.color-code:hover {
    color: #a5a4a7;
}
footer {
    background-color: #36404d;
    padding: 0.3em;
    margin-top: 3em;
    text-align: center;
    color: #7f858f;
    border-top: 1px solid #7f858f;
}
/* -----------------------------------------------------------
    MEDIA QUERIES FOR PHONES (DESKTOP FIRST IN THIS PROJECT)
--------------------------------------------------------------*/
@media screen and (max-width: 600px) {
    #container {
        width: 100%;
    }
    #title {
        flex-direction: column;
        align-items: center;
        gap: 0.1em;
    }
    #color-picker-container {
        width: 100%;
        flex-wrap: wrap;
    }
    #color-input {
        width: 15vw;
    }
    #color-scheme select {
        width: 60vw;
    }
    button {
        width: 75vw;
    }
    #color-values-container {
        top: 152px;
        width: 100%;
        font-size: 0.6rem;
    }
}
